@font-face {
    font-family: 'Open Sans Regular';
    src: url(font/OpenSans.ttf);
}

@font-face {
    font-family: 'Archivo Black';
    src: url(font/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: 'Sergio Trendy';
    src: url(font/serge.ttf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(font/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins ExtraBold';
    src: url(font/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(font/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url(font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(font/RobotoSlab.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Sergio Trendy', sans-serif;
    line-height: 1.6;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1c0d08;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 190vh;
}
section{
    scroll-snap-align: start;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    overflow: hidden;
    padding: 30px 50px;
    height: 100vh;

}



/* Home Page CSS */
#home {
    background-image: url("../images/homeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center center;
    margin-bottom: -100px;
    scroll-snap-align: start;
}

.ktHomeLogo {
    max-height: 140px;
    margin-top: -450px;
    margin-bottom: -30px;
}

.brandname h3, h1 {
    text-align: center;
}
.mainTitle{
    font-family: 'Poppins';
    font-size: 4.3rem;
    color: #003c25;
    margin-bottom: -30px;
}
.subTitle{
    font-family: 'Poppins SemiBold';
    font-size: 2rem;
    color: #003c25;
}

.tagline {
    font-family: 'Roboto Slab';
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    color: #011a10;
}


/*about Page Section*/
.sec_about {
    background-image: url('../images/foodTaSectionBG\(Beige\).png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ftSecLogo {
    margin-top: 30px;
    max-height: 150px;
}
.about_title{
    font-family: 'Poppins';
    font-size: 28px;
    color: #003c25;
    margin-bottom: 20px;
}

.about_description {
    font-size: 1rem;
    font-family: 'Roboto Slab';
    color: #011a10;
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 3rem;
    width: 90%;
}